@import url(http://fonts.googleapis.com/css?family=Raleway);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html * {
    font-family: 'Raleway', sans-serif;
}

.menu-lang {
    margin-top: .5em;
}

.img-responsive {
    width: 100%;
}

.poster img {
    max-height: 100%;
}

.poster {
    text-align: center;
}

.movie .label {
    background-color: #5cb85c;
}

.episode .label {
    background-color: #eea236;
}

.series .label {
    background-color: #5bc0de;
}

.movie-block:hover {
    cursor: pointer;
    background-color: #F0F0F0;
}

.movie-block .glyphicon-film {
    font-size: 1.5em;
}

.movie-block h4 {
    font-weight: bold;
}