<div class="{{ movie.Type }}">
    <p>
        <a class="btn btn-info" href="#/movies?search={{ search }}">
            <i class="glyphicon glyphicon-backward"></i> {{ 'backTo' | translate }} {{ 'movies' | translate }}
        </a>
    </p>

    <div loader></div>

    <div ng-show="movie.Title && !loading" no-image-err>
        <div class="row">
            <div class="col-xs-8">
                <h4><i class="glyphicon glyphicon-film"></i> {{ movie.Title }} ({{ movie.Year }})</h4>
            </div>
            <div class="col-xs-4">
                <div class="pull-right">
                    <h4><i class="glyphicon glyphicon-star"></i> {{ movie.Metascore }}%</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" ng-show="movie.Poster">
                <div class="poster">
                    <img ng-src="{{ movie.Poster }}" alt="" class="img-responsive img-thumbnail"/>
                </div>
            </div>
            <div class="col-sm-6">
                <h4><i class="glyphicon glyphicon-bell"></i> {{ 'plot' | translate }}</h4>

                <p>{{ movie.Plot }}</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h4><i class="glyphicon glyphicon-info-sign"></i> {{ 'movieInfo' | translate }}</h4>
                <table class="table-responsive table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td>{{ 'actors' | translate }}</td>
                        <td>{{ movie.Actors }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'awards' | translate }}</td>
                        <td>{{ movie.Awards }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'country' | translate }}</td>
                        <td>{{ movie.Country }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'director' | translate }}</td>
                        <td>{{ movie.Director }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'genre' | translate }}</td>
                        <td>{{ movie.Genre }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'language' | translate }}</td>
                        <td>{{ movie.Language }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'rating' | translate }}</td>
                        <td>{{ movie.Rated }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'released' | translate }}</td>
                        <td>{{ movie.Released }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-show="images" no-image-err>
            <h4><i class="glyphicon glyphicon-picture"></i> Images</h4>
            <div class="row">
                <div class="col-xs-6 col-md-4" ng-repeat="image in images">
                    <a href="{{ image.url }}" class="thumbnail">
                        <img src="{{ image.url }}" alt="{{ img.title }}" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="youtubes">
            <div class="row">
                <div ng-repeat="youtube in youtubes" class="col-md-12 col-lg-6">
                    <h4><i class="glyphicon glyphicon-facetime-video"></i> {{ youtube.title }}</h4>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{ youtube.playUrl | noautoplay }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>